---
title: さばとらとは
---

<div class="topic main_header">
    <div class="container">
		<div class="col-md-12">
		  <h3>About Sabatora</h3>
		  <h4>ここではオンラインセッションツール「さばとら」について解説していきます。</h4>
		</div>
    </div>
</div>
<div class="container documents">
	<div class="row">
		<div class="col-md-12">
			<div id="overview" class="docs-article docs--start">
				<h3>Overview</h3>
				<p>Why is this important? Bootstrap is a reliable and proven tool for developers, validated in the field. It reminds us of Superman, a friend you can trust completely with a serious project.</p>
			</div>
		</div>
	</div>
</div>