---
title: さばとらとは
---

<div class="topic main_header">
    <div class="container">
		<div class="col-md-12">
		  <h3>About Sabatora</h3>
		  <h4>ここではオンラインセッションツール「さばとら」について解説していきます。</h4>
		</div>
    </div>
</div>
<div class="container documents">
	<div class="row">
		<div class="col-md-12">
			<div id="review" class="docs-article docs--start">
				<h3>さばとらとは</h3>
				<p>さばとらは、ダイスが振れるチャットが使用可能な、オンラインセッション用SNSです。詳細手順は<%= link_to 'HELP', 'help.html' %>を参照してください。</p>
				<dl>
		            <dt>まずはメンバー登録</dt>
		            <dd>さばとらを始めるには、まずはメンバー登録が必要です。<%= link_to '規約', 'contract.html' %>をお読みの上、ご登録ください。</dd>

		            <dt>メンバー登録が済んだら</dt>
		            <dd>プロフィールを入力したら、あなたの要望にぴったり合いそうなコミュニティに登録してください。</dd>

		            <dt>コミュニティって？</dt>
		            <dd>さばとらには、TRPGのジャンル、あるいは年齢、性別等、いろんなコミュニティが存在します。もちろん、自分でコミュニティを作成することもできます。</dd>

		            <dt>コミュニティに登録が済んだら</dt>
		            <dd>あとはセッションに参加するだけです！</dd>

		            <dt>キャラクター管理</dt>
		            <dd>さばとらでは、一度作成したキャラクターはいつでも確認でき、何度でも使えるようになっています。もちろん、削除、編集、新規作成は自由です。</dd>

		            <dt>セッションルーム作成</dt>
		            <dd>さばとらでは、誰でも簡単に、セッション用のチャットルームを建てられます。</dd>

		            
	            </dl>
			</div>
			<div class="docs-article docs--start" id="download">
	            <h3>Download</h3>
	            <p>Download the latest official release of Bootflat and get started!</p>
	            <ul class="item__infos">
	              <li>Version 2.0.4</li>
	              <li>Released July 09 2014</li>
	            </ul>
	            <p><a class="btn btn-primary" href="https://github.com/bootflat/bootflat.github.io/archive/master.zip">Download Bootflat Framework (v2.0.4)</a></p>
          	</div>
		</div>
	</div>
</div>