---
title: さばとらほーむぺーじ
pageable: true
per_page: 10
---

<div class="topic main_header">
    <div class="container">
		<div class="col-md-12">
		  <%= image_tag 'sabatora.png', :class=>"img-responsive center-block" %>
		  <h1 class="text-center">Sabatora</h1>
		  <p class="text-center">Online Session Tool</p>
		</div>
    </div>
    <div class="topic__infos">
      <div class="container color-picker-nav">
      </div>
    </div>
</div>

