---
title: Link
---

<div class="topic main_header">
    <div class="container">
		<div class="col-md-12">
		  <h3>Link</h3>
		  <h4>説明</h4>
		</div>
    </div>
</div>
<div class="container documents">
	<div class="row">
		<div class="col-md-12">
			<div id="overview" class="docs-article docs--start">
				<h3>Overview</h3>
				<p>Why is this important? Bootstrap is a reliable and proven tool for developers, validated in the field. It reminds us of Superman, a friend you can trust completely with a serious project.</p>
				<dl>
              <dt>OOCSS Approach</dt>
              <dd>Object-based coding method encourages code reuse and creates faster and more efficient style sheets, which are easier to add to and maintain.</dd>
              <dt>Bootstrap 3.2.0 Support</dt>
              <dd>Now Bootflat is supporting Bootstrap 3.2.0 as well.</dd>
              <dt>Configurable Color Scheme</dt>
              <dd>You can change any or all of the colors if you wish. Bootflat is easy to configure and match to your brand's color scheme.</dd>
              <dt>Easy Installation</dt>
              <dd>Upload all Bootflat files and paste one line of code at the bottom of your <code>head</code> tag. That’s it!</dd>
              <dt>Bootflat UI Kit Free Download</dt>
              <dd><a href="free-psd.html">Bootflat UI Kit</a> is PSD User Interface Pack including a set of beautiful and pure components, which you can use to create startup projects, websites or iOS/Android Apps.</dd>
              <dt>Bootflat Flat UI Color Picker</dt>
              <dd><a href="color-picker.html">Bootflat Flat UI Color Picker</a> is a project digging the Flat Color Picker which gives you the perfect colors for flat designs.</dd>
            </dl>
			</div>
		</div>
	</div>
</div>